.encabezado {
  width: 100%;
  height: 600px;
  background: url(https://media.istockphoto.com/photos/professional-doctor-preparing-patient-for-procedure-picture-id627290560?b=1&k=20&m=627290560&s=170667a&w=0&h=Td_EW4WqCgoBKPBnjcQMPKSCNBOPIhz4zysJKW9QmqA=);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.contenedor {
  margin: 16px auto;
  background-color: white;
  border-radius: 16px;
  padding: 32px 16px;
}

.titulo {
  color: black;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.textoheader {
  display: flex;
  height: 85%;
  width: 100%;
  align-items: flex-end;
  flex-direction: row-reverse;
  padding: 30px 50px 0 0;
}

.boton {
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background: var(--rojo-sangre);
  border-radius: 0.5em;
  cursor: pointer;
}
.boton:hover {
  color: white;
}

.Flayers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  grid-auto-rows: 256px;
  gap: 8px 8px;
  overflow-x: auto;
}
