.Logo {
  width: 100%;
}

.Titulo {
  text-align: center;
  color: var(--violeta);
}

.Marco {
  max-width: 425px;
  margin: 0 auto;
}

.Formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Formulario > .FormGroup {
  color: var(--violeta);
  width: 100%;
  margin-bottom: 1rem;
}

.BotonSubmit {
  background-color: var(--violeta);
}
