.Contenedor {
  width: auto;
  height: auto;
  padding: 16px;
}

.Titulo {
  text-align: center;
  margin-bottom: 16px;
}

.Error {
  color: red;
}

.Error::before {
  display: inline;
  content: "⚠ ";
}

.Formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Error {
  color: red;
}

.Error::before {
  content: "*";
  color: red;
}

.FormGroup {
  margin-bottom: 16px;
}

.Turno {
  display: flex;
}
