.Contenedor {
  width: auto;
  height: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Error {
  color: red;
}

.Error::before {
  display: inline;
  content: "⚠ ";
}
