.Header {
  background-color: white;
  font-family: var(--fuente-texto);
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: var(--violeta);
}

.Nav {
  width: 100%;
}

.Enlaces {
  display: flex;
  justify-content: space-between;
}

.Contenedor {
  min-height: 100vh;
  padding: 0;
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 1fr;
}

.Main {
  background-color: white;
  overflow-x: auto;
}
