@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: var(--gris);
}

#cuerpo {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --fuente-texto: "PT Serif", serif;
  --width-max: 1024px;
  --violeta: #31008b;
  --azul: #0061db;
  --verde: #85e68f;
  --naranja: #FFBD5;
  --amarillo: #ffe784;
  --rojo: #c80000;
  --rosa: #e3c7ed;
  --gris: #f7f7f7;
  /* agregados para "eliminar", "editar", "contactar"*/
  --Editar: #ffc107;
  --Eliminar: #dc3545;
  --Contactar: #28a745;
}

.progress-bar {
  background-color: var(--violeta);
}
