.Seccion {
  background-color: transparent;
  margin: 2rem auto 1rem auto;
}
.Seccion * {
  background-color: transparent;
}

.Contenedor {
  background-color: white;
  border-radius: 1rem;
  overflow: auto;
  padding: 1rem;
}

.Titulo {
  text-align: center;
  color: var(--violeta);
  margin: 1rem auto 2rem auto;
}
